/* Holds password generator */
.card {
    width: 80%;
    margin: 20px auto;
}

.card-body {
    margin: 20px auto;
    text-align: center;
    width: 80%;
}

/* Emphasis on keyword in instructions */
.call-out {
    font-weight: 700;
    font-style: italic;
}

/* Where the password appears after being generated */
.password-box {
    width: 80%;
    max-width: 500px;
    min-width: 200px;
    border: 1px dashed white;
    padding: 15px;
    margin: 20px auto;
}

/* the textarea that holds the password text. this makes it not look like a textarea */
#passwordField {
    background-color: transparent;
    border: 0;
    color: white;
    resize: none;
    width: 100%;
    text-align: center;
}

/* Adds spacing around buttons */
button {
    margin: 10px;
}

/* Adds a tiny bit of responsiveness to make it look better on mobile */
@media all and (max-width: 500px) {
    .card {
      width: 100%;
    }
  }